body, html {
  text-align: center;
  font-family: Gotham, Helvetica, Arial, sans-serif;
  font-size: 1em;
}

section {
  width: 50%;
  margin: auto;
}

h1 {
  font-size: 2em;
  color: brown;
}

h2 {
  font-size: 1.5em;
  color: lime;
}

p {
  color: pink;

}

@media (min-width:786px) {

  h1 {
    color: aqua;

  }
  h2 { 
    color: bisque;

  }

  p {
    color: cadetblue;

  }
}

@media (min-width:1200px) {

  h1 {
    color: pink;
  }
  h2{
    color: cornflowerblue;
  }
  p {
    color: coral;
}
}